
.navigation {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.navigation a {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  color: gold;
}
